*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    /*font-size: 10pt;*/
}

main{
    display: grid;
    grid-template-areas:
    'h h'
    'ar n'
    'f f'
    ;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: #333333;
}

header{
    grid-area: h;
    background-image: url('design/beer-new_401732638.jpg');
    height: 300px;
    background-size: cover;
    font-family: Garamond;
    font-weight: bold; /*vastag*/
    font-size: 32px;
    letter-spacing: 4px;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
}

article{
    grid-area: ar;
}

nav{
    grid-area: n;
}

footer{
    grid-area: f;
}

body{
    background-image: url('design/teglafal.jpg');
    display: block;
    
}